<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>dz3</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>


	
	<div id="app">

		<h1>{{ name }}</h1>
		<new-component></new-component>
		<comp></comp>
	</div>


	<div id="app2">

		<h1>Приложение - 2</h1>
		<new-component></new-component>
				<comp></comp>
	</div>




<body>



	

	<script>


		Vue.component('new-component', {
			data() {
				return {
					msg: ''
				}
			},


			template: `
				<div>
					<h1>Компонент</h1>
					<input type="text" v-model="msg" />
					<div> text:  {{  msg }} </div>
					<hr />
				</div>
			`

		})

		let component =  {
			data() {
				return{
					checkform: false
				}

			},
			methods: {

			},
			template: `<div>
			<hr />
				<h1> Это локальный Компонент </h1>
				<button @click="checkform = true"> check-form </button>

				<template v-if="checkform">
					<h1> НЕ РАБОЧАЯ ФОРМА</h1>
					<form >
						<label for="">email</label>
						<input type="text" />

						<label for="">pass</label>
						<input type="text" />

						<button type="button">Войти</button>
						<button type="button" @click = "checkform = false">Закрыть</button>
					</form>
				</template>
			 <hr />
			 </div>`
		}

		vm1  = new Vue({
			el:  '#app',
			data: {
				name: 'Приложение 1'
			},
			components: {
				'comp' : component
			}
			
		})

		vm2 = new Vue({
			el: '#app2',
			data:{

			}
		})


	</script>

</body>
</html>